# 允许访问所有文件（包括隐藏文件）
<FilesMatch "^\.">
    Order allow,deny
    Allow from all
</FilesMatch>

# 允许访问 includes 目录
<Directory "includes">
    Order allow,deny
    Allow from all
</Directory>

# 开启目录浏览（允许列出文件夹内容）
Options +Indexes